body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('/imagens_telas/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-container {
    display: flex;
}

.imgCadastro {
    width: 350px;
    height: 300px;
}

.cadastro {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 15px;
}

.conteudo {
    text-align: center;
}

.input-field {
    width: 80%;
    height: 45px;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box; 
}

.input-field::placeholder {
    color: #999;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 1;
}
.senha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os campos */
    width: 100%;
}

.senha-field {
    width: calc(40.5% - 10px); /* Ajuste conforme necessário, -10px por causa do gap */
    margin: 10px 0;
}

/* Remove as setas do input de número */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sexo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os elementos */
    margin-top: 12px;
}

.sexo-form legend {
    margin: 0; /* Remove a margem padrão do legend */
    padding-right: 10px; /* Espaçamento à direita do legend */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

/* Estilizando o radio button personalizado */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc; /* Cor da borda externa */
    border-radius: 50%;
    background: #fff; /* Cor de fundo inicial */
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked {
    border: 1px solid #FF735C; /* Cor da borda externa */
    background-color: #FF735C; /* Cor interna quando selecionado */
}

input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff; /* Cor do ponto central quando selecionado */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    padding-left: 30px; /* Espaçamento entre o radio button e o texto */
    cursor: pointer;
}

.logar {
    color: #FF735C;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 5px;
}

a {
    color: #FF735C; /* Cor do texto */
}

.cadastro-button {
    width: 28%;
    height: 45px;
    padding: 10px;
    margin: 20px 0;
    background-color: #FF735C;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.cadastro-button:hover {
    opacity: 0.5;
}