html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.header {
    justify-content: center;
    align-items: center;
}

.retangGreen {
    width: 100%;
    height: 4.063rem;
    background-color: #3F7263;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgLogo {
    height: 3.438rem;
    width: 4.375rem;
}

.imgEtec {
    height: 2.188rem;
    width: 5.313rem;
    position: absolute;
    right: 0;
    bottom: 0.75rem;
    margin-right: 1.875rem;
}

.retangOrange {
    width: 100%;
    height: 0.875rem; 
    background-color: #FF735C;
}

.navbar {
    background-color: #FFF;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.navbar ul li {
    flex: 1;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    padding: 0.75rem 0.875rem;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar ul li a i {
    font-size: 1.375rem;
    margin-right: 0.5rem;
}

.navbar ul li a.active {
    background-color: #FF735C;
    color: black;
}

.navbar ul li a.sair {
    color: red;
}

main {
    flex: 1;
    padding: 1.25rem;
    box-sizing: border-box;
    width: 100%;
}

.add-livro-novo {
    font-size: 1.875rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 1.563rem;
    margin-bottom: 0.938rem;
    text-align: center;
}

.container {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem;
    box-sizing: border-box;
}

.input-total {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.input-img-container {
    justify-content: center;
    box-sizing: border-box;
    margin-right: 9.375rem;
}

.text-capa {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    margin-top: 0;
}

.upload-button {
    margin-top: 0.625rem;
    padding: 0.5rem 0.875rem;
    font-size: 0.875rem;
    background-color: #3F7263;
    color: white;
    border: 1px solid #3F7263;
    border-radius: 1.875rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.upload-button:hover {
    opacity: 0.5;
    transition: 0.5s;
}

input[type="file"] {
    display: none;
}

.input-wrapper {
    margin-bottom: 0.625rem;
}

.input-group {
    flex-direction: column;
    margin-bottom: 0.625rem;
    display: flex;
    justify-content: center;
}

.text {
    margin-top: 1.563rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
}

.input-quant {
    width: 40%;
    height: 2.813rem;
    padding: 1.25rem;
    margin: 0.625rem 0;
    border: 1px solid #ccc;
    border-radius: 1.875rem;
    box-sizing: border-box; 
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-container {
    width: 40%;
}

.text-input {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    width: 100%;
    margin: 0 auto;
}

.input-field {
    height: 2.813rem;
    padding: 1.25rem;
    margin: 0.625rem 0;
    border: 1px solid #ccc;
    border-radius: 1.875rem;
    box-sizing: border-box; 
}

.input-resumo {
    width: 100%;
    height: 12.5rem;
    padding: 1.25rem;
    margin: 0.625rem 0;
    border: 1px solid #ccc;
    border-radius: 1.875rem;
    box-sizing: border-box; 
}

.editar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.add-button {
    height: 2.813rem;
    padding: 0.625rem 1.875rem;
    margin: 1.25rem 0;
    background-color: #FF735C;
    color: white;
    border: none;
    border-radius: 1.875rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.add-button:hover {
    opacity: 0.5;
}

footer {
    display: block;
	bottom: 0;
	background: #fff;
	width: 100%;
	color:#000;
	text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.288);
    font-size: 0.875rem;
}
footer a {
    color: #FF735C;
    text-decoration: none;
}

footer a:hover {
    color: #3F7263;
}