body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('/imagens_telas/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-container {
    display: flex;
}

.imgCadastro {
    width: 21.875rem;
    height: 18.75rem;
}

.conteudo {
    text-align: center;
}

.cadastro {
    font-size: 1.875rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0.938rem;
}

.input-field {
    width: 80%;
    height: 2.813rem;
    padding: 1.25rem;
    margin: 0.625rem 0;
    border: 1px solid #ccc;
    border-radius: 1.875rem;
    box-sizing: border-box; 
}

.input-field::placeholder {
    color: #999;
    font-size: 0.875rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 1;
}
.senha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.625rem; /* Espaçamento entre os campos */
    width: 100%;
}

.senha-field {
    width: calc(40.5% - 0.625rem); /* Ajuste conforme necessário, -0.625rem por causa do gap */
    margin: 0.625rem 0;
}

/* Remove as setas do input de número */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sexo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem; /* Espaçamento entre os elementos */
    margin-top: 0.75rem;
}

.sexo-form legend {
    margin: 0; /* Remove a margem padrão do legend */
    padding-right: 0.625rem; /* Espaçamento à direita do legend */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.938rem;
}

/* Estilizando o radio button personalizado */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid #ccc; /* Cor da borda externa */
    border-radius: 50%;
    background: #fff; /* Cor de fundo inicial */
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked {
    border: 1px solid #FF735C; /* Cor da borda externa */
    background-color: #FF735C; /* Cor interna quando selecionado */
}

input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff; /* Cor do ponto central quando selecionado */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.875rem;
    padding-left: 1.875rem; /* Espaçamento entre o radio button e o texto */
    cursor: pointer;
}

.logar {
    color: #FF735C;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.75rem;
    margin-top: 1.563rem;
    margin-bottom: 0.313rem;
}

a {
    color: #FF735C;
}

.cadastro-button {
    width: 28%;
    height: 2.813rem;
    padding: 0.625rem;
    margin: 1.25rem 0;
    background-color: #FF735C;
    color: white;
    border: none;
    border-radius: 1.875rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.cadastro-button:hover {
    opacity: 0.5;
    transition: 0.5s;
}