body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('/imagens_telas/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transparencia {
    background-color: rgba(255, 255, 255, 0.096);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; 
}

.conteudo {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
}

.card {
    background-color:  #ffffffe3;
    border-radius: 4rem;
    box-shadow: 30px 30px 30px rgb(0, 0, 0); /* Sombra ao redor de todo o elemento */
    overflow: hidden;
    height: auto;
    max-width: 60%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    transition: box-shadow 0.3s ease;
}

.header {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
    margin-top: 1.25rem;
}

.header p {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.membros-container {
    display: flex;
    flex-direction: row;
    margin: 1.25rem;
    margin-bottom: 1.875rem;
}

.membros {
    text-align: justify;
    margin: 1.25rem;
    font-size: 1.125rem;
}

.imagem-flutuante {
    float: left; /* Ou use 'right' se preferir que a imagem flutue à direita */
    margin: 0.450rem 0.6rem 0.2rem 0; /* Margem ao redor da imagem para espaçamento entre a imagem e o texto */
    max-width: 95px; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 0.5rem; /* Adicione borda arredondada se desejar */
}

.nome {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.125rem;
}