body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('/imagens_telas/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.card {
    background-color:  rgba(255, 255, 255, 0.767);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 450px;
    max-width: 60%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* .box {
    height: 450px; 
    background-color: #FFF; 
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.conteudo {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
}

.header {
    justify-content: center;
    text-align: center;
    font-size: 0.875rem;
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.membros-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    
}

.membros {
    text-align: justify;
    padding: 15px;
    font-size: 0.875rem;
}

.nome {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
}