html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    justify-content: center;
    align-items: center;
}

.retangGreen {
    width: 100%;
    height: 4.063rem;
    background-color: #3F7263;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgLogo {
    height: 3.438rem;
    width: 4.375rem;
}

.imgEtec {
    height: 2.188rem;
    width: 5.313rem;
    position: absolute;
    right: 0;
    bottom: 0.75rem;
    margin-right: 1.875rem;
}

.retangOrange {
    width: 100%;
    height: 0.875rem; 
    background-color: #FF735C;
}

.navbar {
    background-color: #FFF;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.navbar ul li {
    flex: 1;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    padding: 0.75rem 0.875rem;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar ul li a i {
    font-size: 1.375rem;
    margin-right: 0.5rem;
}

.navbar ul li a.active {
    background-color: #FF735C;
    color: black;
}

.navbar ul li a.sair {
    color: red;
}

main {
    flex: 1;
    padding: 1.25rem;
    box-sizing: border-box;
}

.recomendacao {
    font-size: 1.875rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 1.563rem;
    margin-bottom: 0.938rem;
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.875rem 1rem;
}

.search-container input {
    padding-left: 1.25rem;
    padding-top: 0.438rem;
    padding-bottom: 0.438rem;
    font-size: 1.063rem;
    border: 1px solid #ccc;
    border-radius: 1.875rem;
    outline: none;
    font-family: "Poppins", sans-serif;
    width: 42%;
    margin-left: 0.625rem;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
}

.genre-buttons {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 1.875rem;
    cursor: pointer;
    width: 100%;
}

.book-genre {
    width: 5.625rem;
    height: 5.625rem;
    box-sizing: border-box;
    max-width: calc(16.66% - 1.25rem);
    background: #599684;
    padding: 0.25rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.288);
}

.icon {
    height: auto;
    width: 2.5rem;
    margin-bottom: 0px;
}

.text-icon {
    font-size: 0.625rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 0px;
}

/* .genre-button:hover, .genre-button:focus {
    background-color: #45a049;
}

.genre-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
    gap: 0.625rem;
    padding: 1.25rem;
    box-sizing: border-box;
}

.book-list {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
    max-width: 98%;
    margin: 0 auto;
    margin-bottom: 1.875rem;
    cursor: pointer;
    width: 100%;
}

.book-list a {
    text-decoration: none;
    color: #000;
}

.book-item {
    width: 12.5rem;
    height: 14.063rem;
    box-sizing: border-box;
    max-width: calc(16.66% - 1.25rem);
    background: #FFF;
    padding: 0.25rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.288);
}

.book-item:hover {
    transform: scale(1.05);
}

.book-course {
    font-size: 0.75rem;
    color: #000;
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.book-image {
    width: 45%;
    height: auto;
    border-radius: 0.5rem;
}

.book-info {
    padding: 1px;
}

.book-title {
    font-size: 0.875rem;
    margin: 0 0 0.25rem;
}

.book-author {
    font-size: 0.75rem;
    color: #555;
    margin: 0;
}

footer {
    display: block;
	bottom: 0;
	background: #fff;
	width: 100%;
	color:#000;
	text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.288);
    font-size: 0.875rem;
}
footer a {
    color: #FF735C;
    text-decoration: none;
}

footer a:hover {
    color: #3F7263;
}