html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    justify-content: center;
    align-items: center;
}

.retangGreen {
    width: 100%;
    height: 4.063rem;
    background-color: #3F7263;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgLogo {
    height: 3.438rem;
    width: 4.375rem;
}

.imgEtec {
    height: 2.188rem;
    width: 5.313rem;
    position: absolute;
    right: 0;
    bottom: 0.75rem;
    margin-right: 1.875rem;
}

.retangOrange {
    width: 100%;
    height: 14px; 
    background-color: #FF735C;
}

.navbar {
    background-color: #FFF;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.navbar ul li {
    flex: 1;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar ul li a i {
    font-size: 22px;
    margin-right: 8px;
}

.navbar ul li a.active {
    background-color: #FF735C;
    color: black;
}

.navbar ul li a.sair {
    color: red;
}

main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.informacoes {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}

.remov-button {
    right: 50px;
    top: 150px;
    position: absolute;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #FF735C;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.lineSquare {
    width: 40%;
    box-sizing: border-box;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.info-book-reserva {
    display: flex;
}

.img-reserva {
    height: 180px;
    width: 120px;
    border-radius: 5px;
    margin: 15px;
}

.livro-info {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    margin-top: 5px;
}

.header-lineSquare {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.geral {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 0px;
}

.livro {
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 13.5px;
}

.smallLineSquare {
    width: auto;
    height: 10px;
    box-sizing: border-box;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 0px;
}

.text {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
}

.resumo {
    margin-top: 3px;
    font-size: 14px;
    font-size: 13.5px;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-icons {
    height: auto;
    width: 30px;
}

.editar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.reserv-button {
    height: 45px;
    padding: 10px 30px;
    margin: 20px 0;
    background-color: #FF735C;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.reserv-button:hover {
    opacity: 0.5;
}

footer {
    display: block;
	bottom: 0;
	background: #fff;
	width: 100%;
	color:#000;
	text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.288);
    font-size: 14px;
}
footer a {
    color: #FF735C;
    text-decoration: none;
}

footer a:hover {
    color: #3F7263;
}

.modal:target {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.text-modal {
    font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
    font-size: 18px;
    margin-top: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.modal-button-sim {
    background-color: #FF735C;
    color: #000;
    border: none;
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: block;
    width: 100%;
}

.modal-button-sim:hover {
    opacity: 0.5;
}

.modal-button-não {
    background-color: #FFF;
    color: #000;
    border: 1px  solid #000;
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: block;
    width: 100%;
}

.modal-button-não:hover {
    opacity: 0.5;
}

.modal-content a {
    text-decoration: none;
}